<%= _.template(require('./html-includes/header.html').default)({status: true}) %>

<section class="relative page-top">
  <div class="absolute inset-0 page-top-background">
    <img src="img/page-top.jpg" alt="" class="object-cover absolute-image">
  </div>
  <div class="page-top-content">
    <div class="title">Деловая программа</div>
  </div>
</section>

<% var dates = [
  {
    tab: 'date-17',
    title: '17 октября (День 1)'
  },
  {
    tab: 'date-18',
    title: '18 октября (День 2)'
  },
  {
    tab: 'date-19',
    title: '19 октября (День 3)'
  },
  {
    tab: 'date-20',
    title: '20 октября (День 4)'
  }
] %>

<section class="overflow-hidden business-program section-padding bg-l3">
  <div class="flex items-center mb-5">
    <div class="mr-6 text-base font-semibold">Год проведения</div>
    <div class="submenu" data-toggle-cover>
      <button class="h-10 px-4 font-bold rounded-lg btn btn-gradient btn-contur" data-toggle-link>
        <span class="mr-2 text-gradient">2023</span>
        <svg class="icon text-primary">
          <use xlink:href="img/icons.svg#to-right" />
        </svg>
      </button>
      <div class="space-y-3 z-1 submenu-list" data-toggle-content>
        <a href="/" class="justify-start gap-2 btn btn-text hover:underline">
          <span class="font-medium">2023</span>
        </a>
        <a href="/" class="justify-start gap-2 btn btn-text hover:underline">
          <span class="font-medium">2022</span>
        </a>
      </div>
    </div>
  </div>
  <div data-tab-cover>
    <div class="flex items-center mb-6 -mx-4 overflow-auto border-b border-black border-solid md:justify-between border-opacity-10 md:mb-10 md:overflow-hidden md:mx-0">
      <% for(let i = 0; i < dates.length; i++) { %>
      <button class="px-3 py-3 business-program__tab tabs-item btn btn-black btn-text sm:text-xl sm:px-6 sm:py-5 min-w-max md:flex-grow" data-tab-link="<%= dates[i].tab %>"><%= dates[i].title %></button>
      <% } %>
    </div>
    <div class="relative block">
      <% for(let i = 0; i < dates.length; i++) { %>
      <div class="tab-content" data-tab-content="<%= dates[i].tab %>">
        <div class="flex flex-col gap-5 mb-6 md:flex-row md:items-center md:justify-between md:mb-10">
          <div class="lowercase title"><%= dates[i].title %></div>
          <a class="rounded-full btn btn-gradient btn-contur w-max" href="" download="">Скачать программу</a>
        </div>
        <div class="flex flex-col gap-4 md:gap-6">
          <div class="flex flex-col px-4 py-5 shadow-sm md:px-6 md:flex-row md:justify-between gap-7 md:gap-20 bg-l3 rounded-2xl">
            <div class="md:min-w-36">
              <div class="text-xl">9:00 - 10:00</div>
            </div>
            <div class="w-full">
              <div class="text-lg lg:text-1.5xl uppercase font-bold font-alt leading-normal text-gradient w-max">РЕГИСТРАЦИЯ</div>
            </div>
          </div>
          <div class="flex flex-col px-4 py-5 shadow-sm md:px-6 md:flex-row md:justify-between gap-7 md:gap-20 bg-l3 rounded-2xl">
            <div class="md:min-w-36">
              <div class="text-xl">9:00 - 10:00</div>
            </div>
            <div class="w-full">
              <div class="text-lg lg:text-1.5xl uppercase font-bold font-alt leading-normal">
                ПЛЕНАРНАЯ СЕССИЯ «РЫНОК СКОРОПОРТЯЩЕЙСЯ ПРОДУКЦИИ: ТРЕНДЫ, ВЫЗОВЫ И ТРЕБОВАНИЯ СО СТОРОНЫ ЭКОНОМИКИ».
              </div>
              <div class="text-base font-bold mt-7">Ключевые вопросы</div>
              <ul class="mt-5 list-disc list-inside opacity-80">
                <li>
                  Роль обеспечения непрерывной холодильной цепи в глобальной продовольственной системе для достижения целей ООН в области устойчивого развития
                </li>
                <li>
                  Поиск решений для обеспечения НХЦ в условиях международной нестабильности
                </li>
                <li>
                  Инвестиции в развитие рыбной отрасли
                </li>
                <li>
                  Роль консолидации различных видов транспорта для обеспечения непрерывной холодильной цепи
                </li>
                <li>
                  Государственная поддержка экспортёров продукции АПК России в страны АТР И ЮВА
                </li>
                <li>
                  Динамика импорта скоропорта в Россию и развитие агробизнеса на маркетплейсах
                </li>
              </ul>
            </div>
          </div>
          <div class="flex flex-col px-4 py-5 shadow-sm md:px-6 md:flex-row md:justify-between gap-7 md:gap-20 bg-l3 rounded-2xl">
            <div class="md:min-w-36">
              <div class="text-xl">9:00 - 10:00</div>
            </div>
            <div class="w-full">
              <div class="text-lg lg:text-1.5xl uppercase font-bold font-alt leading-normal text-gradient w-max">ПЕРЕРЫВ</div>
            </div>
          </div>
          <div class="flex flex-col px-4 py-5 shadow-sm md:px-6 md:flex-row md:justify-between gap-7 md:gap-20 bg-l3 rounded-2xl">
            <div class="md:min-w-36">
              <div class="text-xl">9:00 - 10:00</div>
            </div>
            <div class="w-full">
              <div class="text-lg lg:text-1.5xl uppercase font-bold font-alt leading-normal">
                ПРАКТИЧЕСКАЯ СЕССИЯ «ИНДУСТРИЯ ХОЛОДА И ИТ-ТЕХНОЛОГИИ»
              </div>
              <div class="text-base font-bold mt-7">Ключевые вопросы</div>
              <ul class="mt-5 list-disc list-inside opacity-80">
                <li>
                  Роль обеспечения непрерывной холодильной цепи в глобальной продовольственной системе для достижения целей ООН в области устойчивого развития
                </li>
                <li>
                  Поиск решений для обеспечения НХЦ в условиях международной нестабильности
                </li>
                <li>
                  Инвестиции в развитие рыбной отрасли
                </li>
                <li>
                  Роль консолидации различных видов транспорта для обеспечения непрерывной холодильной цепи
                </li>
                <li>
                  Государственная поддержка экспортёров продукции АПК России в страны АТР И ЮВА
                </li>
                <li>
                  Динамика импорта скоропорта в Россию и развитие агробизнеса на маркетплейсах
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)({status: true}) %>