<%= _.template(require('./html-includes/header.html').default)({status: true}) %>

<section class="relative page-top">
  <div class="absolute inset-0 page-top-background">
    <img src="img/page-top.jpg" alt="" class="object-cover absolute-image">
  </div>
  <div class="page-top-content">
    <div class="title">
      Открытие новой выставки
      Cold Chain Russia
    </div>
  </div>
</section>

<section class="section-padding bg-white">
  <div class="flex items-center gap-5 sm:gap-10 px-4 sm:px-10 py-6 rounded-2xl sm:rounded-4xl not-translated">
    <img src="img/translate-image.png" alt="" class="shrink-0 max-sm:w-12">
    <div class="sm:text-1.5xl font-bold font-alt uppercase">Ooopps! We have not translated it yet</div>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)({status: true}) %>