<%= _.template(require('./html-includes/header.html').default)({status: true}) %>

<section class="relative page-top">
  <div class="absolute inset-0 page-top-background">
    <img src="img/page-top.jpg" alt="" class="object-cover absolute-image">
  </div>
  <div class="page-top-content">
    <div class="title">НОВОСТИ</div>
  </div>
</section>

<section class="section-padding">
  <div class="flex gap-4 mb-12 max-md:flex-col">
    <div>
      <div class="mb-2 text-sm font-medium font-alt">Популярные темы</div>
      <div class="flex flex-wrap gap-2">
        <% for(let i = 0; i < 3; i++) { %>
        <a href="javascript:;" class="font-alt btn btn-[42px] rounded-full <%= i === 0 ? 'btn-fill btn-gradient' : 'btn-contur btn-black border-black/20' %>">
          #важное
        </a>
        <% } %>
      </div>
    </div>
    <div class="md:w-1/2 md:ml-auto">
      <div class="mb-2 text-sm font-medium font-alt">Поиск по темам</div>
      <div class="relative" data-toggle-cover>
        <div class="relative">
          <button class="w-full rounded-xl border border-black/20 h-[42px] bg-white relative px-4" data-toggle-link>
            <div class="text-sm text-left">Важно, Рыба</div>
            <c-icon class="absolute -translate-y-1/2 icon right-4 top-1/2" href="img/icons.svg#to-right"></c-icon>
          </button>
          <div class="absolute -translate-y-1/2 right-12 top-1/2">
            <a href="javascript:;" class="btn btn-text btn-black">
              <c-icon class="text-xs icon" href="img/icons.svg#cross"></c-icon>
            </a>
          </div>
        </div>
        <div class="w-full dropdown" data-toggle-content>
          <div class="p-4">
            <div class="mb-5 text-lg font-medium opacity-40">О мероприятии</div>
            <div class="flex flex-col gap-3">
              <a href="javascript:;" class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" checked class="form-input-checkbox">
                <div class="flex-shrink-0 form-checkbox-target">
                  <c-icon class="icon" href="img/icons.svg#gal-ochka"></c-icon>
                </div>
                <div class=""> Важно </div>
              </a>
              <a href="javascript:;" class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="form-input-checkbox">
                <div class="flex-shrink-0 form-checkbox-target">
                  <c-icon class="icon" href="img/icons.svg#gal-ochka"></c-icon>
                </div>
                <div class=""> Тренды </div>
              </a>
              <a href="javascript:;" class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="form-input-checkbox">
                <div class="flex-shrink-0 form-checkbox-target">
                  <c-icon class="icon" href="img/icons.svg#gal-ochka"></c-icon>
                </div>
                <div class=""> Выставка </div>
              </a>
            </div>
            <div class="mb-5 text-lg font-medium opacity-40 mt-7">Выставочные секторы</div>
            <div class="flex flex-col gap-3">
              <a href="javascript:;" class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" checked class="form-input-checkbox">
                <div class="flex-shrink-0 form-checkbox-target">
                  <c-icon class="icon" href="img/icons.svg#gal-ochka"></c-icon>
                </div>
                <div class=""> Рыба </div>
              </a>
              <a href="javascript:;" class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="form-input-checkbox">
                <div class="flex-shrink-0 form-checkbox-target">
                  <c-icon class="icon" href="img/icons.svg#gal-ochka"></c-icon>
                </div>
                <div class=""> Рыба </div>
              </a>
              <a href="javascript:;" class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="form-input-checkbox">
                <div class="flex-shrink-0 form-checkbox-target">
                  <c-icon class="icon" href="img/icons.svg#gal-ochka"></c-icon>
                </div>
                <div class=""> Рыба </div>
              </a>
            </div>
          </div>
        </div>
        <div class="dropdown-shadow" data-toggle-link></div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-5">
    <div class="grid grid-cols-2 gap-3 sm:grid-cols-3 lg:grid-cols-4 sm:gap-7">
      <% for(let i = 0; i < 10; i++) { %>
      <%= _.template(require('./html-includes/news-item.html').default)() %>
      <% } %>
    </div>
    <div class="flex flex-col items-center gap-6 px-4 py-6 xs:px-6 xs:py-8 sm:flex-row md:gap-12 md:px-10 news-plug">
      <img class="block w-full max-w-36" src="img/snowflake-plug.png" alt="">
      <div class="text-lg font-bold text-center uppercase sm:text-2xl font-alt sm:text-left">
        По данным хештегам ничего не найдено. <br class="hidden sm:block"> Попробуйте выбрать другие хештеги
      </div>
    </div>
  </div>
  <div class="flex gap-4 mt-10">
    <button class="btn btn-icon btn-black btn-contur btn-[52px] rounded-2xl border-black/20">
      <c-icon class="icon" href="img/icons.svg#to-left"></c-icon>
    </button>
    <button class="btn btn-icon btn-gradient btn-fill btn-[52px] rounded-2xl">
      1
    </button>
    <button class="btn btn-icon btn-black btn-contur btn-[52px] rounded-2xl border-black/20">
      2
    </button>
    <button class="btn btn-icon btn-black btn-contur btn-[52px] rounded-2xl border-black/20 max-sm:hidden">
      3
    </button>
    <button class="btn btn-icon btn-black btn-contur btn-[52px] rounded-2xl border-black/20 max-sm:hidden">
      4
    </button>
    <button class="btn btn-icon btn-black btn-contur btn-[52px] rounded-2xl border-black/20">
      <c-icon class="icon" href="img/icons.svg#to-right"></c-icon>
    </button>
  </div>
</section>


<%= _.template(require('./html-includes/footer.html').default)({status: true}) %>