<%= _.template(require('./html-includes/header.html').default)() %>

<section class="relative page-top">
  <div class="absolute inset-0 page-top-background">
    <img src="img/page-top.jpg" alt="" class="object-cover absolute-image">
  </div>
  <div class="page-top-content">
    <div class="title">Правила посещения</div>
  </div>
</section>

<section class="rules section-padding bg-l3">
  <div class="mb-10 normal-case title">Правила посещения:</div>
  <div>
    <ol class="pl-5 space-y-2 leading-loose list-decimal opacity-80">
      <li>
        Выставка и Форум– деловое мероприятие категории 18+. Вход на выставку возможен только для профессиональных посетителей. Профессиональный посетитель — это владелец бизнеса, индивидуальный предприниматель, должностное лицо, руководитель, управляющий, специалист, иной представитель профильной зарубежной или отечественной компании, предприятия, органа государственной власти, ассоциации, союза, посещающий выставку для достижения деловых и профессиональных целей, определяемых тематикой выставки. Для подтверждения профессионального статуса посетителя Организатор Выставки вправе попросить его представить подтверждающий документ: собственную визитную карточку, доверенность или официальное письмо представляемой организации, иной документ, свидетельствующий о профессиональном статусе посетителя.
      </li>
      <li>
        Основанием для входа на выставку является бейдж. Бейдж действителен в течение всего периода работы выставки. Для посещения мероприятия посетитель должен заполнить регистрационную анкету в электронном либо печатном виде. В случае предоставления некорректных и недостоверных анкетных данных в выдаче бейджа и посещении мероприятия будет отказано.
      </li>
      <li>
        Передача или продажа бейджей посетителей любым третьим лицам запрещена. Организатор выставки вправе проверить соответствие имени, указанного в бейдже, с именем посетителя, для чего Организатор может попросить посетителя Выставки предъявить удостоверяющий личность документ.
      </li>
      <li>
        На территории выставки посетителям не разрешается осуществлять торговлю, распространять любую рекламно-информационную продукцию, проводить презентации, демонстрации, агитации и любые другие подобные мероприятия и действия без письменного согласия организатора.
      </li>
      <li>
        На территории выставки запрещается находиться в состоянии и в виде, не соответствующем деловому характеру выставки и общепринятым нормам поведения, а также совершать действия, нарушающие общественный порядок.
      </li>
      <li>
        В случае нарушения настоящих Правил организатор вправе без каких-либо компенсаций отказать допустившему нарушение лицу в посещении выставки.
      </li>
    </ol>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)() %>